@keyframes vibration {
    from {
      transform: rotate(3deg);
    }
    to {
      transform: rotate(-3deg);
    }
  }


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}

.firstLine{
    display: flex;
    flex-direction: row;
}
.secondLine{
    display: flex;
    flex-direction: row;
}
.thirdLine{
    display: flex;
    flex-direction: row;
}

.cursor{

    cursor: pointer;
}

.square{
    
    transition: all 1s ease-out;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin:0px 0px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
}

.vibration {
    animation: vibration 0.1s infinite;
}

.blue{
    /* width: 60px;
    height: 60px; */
    background-color: blue;
    transition: 0.5s;
    
    /* font-weight: 900; */
}       


.tool{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.tool *{
    margin-bottom: 20px
}



.red{
    transition: 0.5s;
    background-color: red;
}

.rainbow{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple)}